@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-white font-sans text-lg font-bold px-6 py-3 bg-cyan-500 rounded-2xl shadow-button-not-clicked active:shadow-button-clicked active:translate-y-[3px] hover:bg-cyan-400;
}

.form {
  @apply absolute top-10 left-1/2 -translate-x-1/2 bg-white px-5 py-10 max-w-lg w-full m-2 flex flex-col gap-2 rounded-2xl border-solid border-[5px] shadow-md;
}

.card {
  @apply bg-white rounded-2xl border-solid border-[5px] shadow-md;
}
.input-text {
  @apply outline-none focus:border-gray-300 rounded-xl py-2 px-5 border-solid border-4 hover:border-gray-300 bg-gray-50;
}

.background {
  background: url("../public/images/map.webp") fixed center no-repeat;
  height: 100vh;
  width: 100vw;
  opacity: 0.05;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  @apply h-full w-full max-w-5xl;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
